.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
/ebin
/_rel

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

# erlang.mk
/.erlang.mk

# Project
.env
/local.debugconfig
/hvac_iot.d
/local.config
